<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^index/?$ index.php [NC,L]
    RewriteRule ^sair/?$ sair.php [NC,L]
    RewriteRule ^app/?$ app.php [NC,L]
    RewriteRule ^home/?$ home.php [NC,L]  
    RewriteRule ^cliente/?$ cliente.php [NC,L]  
    RewriteRule ^usuario/?$ usuario.php [NC,L]  
    RewriteRule ^suprimento/?$ suprimento.php [NC,L]  
    RewriteRule ^estoquecliente/?$ estoquecliente.php [NC,L]  
    RewriteRule ^objetorel/?$ objetorel.php [NC,L]  
    RewriteRule ^requisicaorel/?$ requisicaorel.php [NC,L]  
    RewriteRule ^suprimentoclienterel/?$ suprimentoclienterel.php [NC,L]  
    RewriteRule ^agendamento/?$ agendamento.php [NC,L] 
    RewriteRule ^prospeccao/?$ prospeccao.php [NC,L] 
    RewriteRule ^prospeccaolista/?$ prospeccaolista.php [NC,L] 
    RewriteRule ^agendamentorel/?$ agendamentorel.php [NC,L] 
    RewriteRule ^prospeccaorel/?$ prospeccaorel.php [NC,L] 
    RewriteRule ^usuariocli/?$ usuariocli.php [NC,L] 
    RewriteRule ^apiweb/?$ apiweb.php [NC,L] 
    RewriteRule ^importararq/?$ importararq.php [NC,L] 
    RewriteRule ^exceldonwloald/?$ exceldonwloald.php [NC,L] 
    RewriteRule ^reloadpassword/?$ reloadpassword.php [NC,L] 
    RewriteRule ^alterpassword/?$ alterpassword.php [NC,L] 
    RewriteRule ^novasenha/?$ novasenha.php [NC,L] 
    RewriteRule ^rastreadorweb/?$ rastreadorweb.php [NC,L] 
</IfModule>